body {
    margin: 0;
    background-color: #b6b681;
    text-align: center;
}

#rock, #paper, #scissors {
    width: 90px;
    height: 60px;
    border: 1px solid black;
    border-radius: 6px;
    font-weight: bold;
    font-size: 20px;
}

.reset {
    width: 60px;
    height: 30px;
    border: 1px solid black;
    border-radius: 6px;
    font-weight: 500;
    font-size: 15px;   
}